@charset "UTF-8";
body {
    height: 100%;
    width : 1080px;
    margin: auto;
    background-color: #5a6275;
}
form{
    width: 400px;
    height: 400px;
    display: inline-block;
}
table{
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 300px;
    border-spacing: 0px;
}
table td{
    text-align: left;
}
table th{
    font-size: 18px;
    text-align: left;
    padding-bottom:5%;
}
#findID{
    margin-right: 5%;
}
#findPW{
    margin-left: 5%;
}
#findwrap{
    border: 1px solid;
	width: 1000px;
    height: 400px;
    text-align: center;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
#loginbtn{
    width: 310px;
    height: 35px;
    background-color: #5a6275;
    border: none;
    color: white;
}
#idbtn{
    width: 310px;
    height: 35px;
    border: 2px solid #5a6275;
    background-color: white;
}
#pwbtn{
    width: 310px;
    height: 35px;
    border: 2px solid #5a6275;
    background-color: white;
}
.text{
    width: 300px;
    height: 30px;
}
.ment{
    font-size: 13px;
    padding-bottom: 10%;
}
