@charset "UTF-8";
body {
    height: 100%;
    width : 1080px;
    margin: auto;
    background-color: #5a6275;
}
div{
	display: inline-block;
}
form{
    width: 500px;
    height: 400px;
    border: 1px solid;
}
table{
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
    width: 300px;
    border-spacing: 0px;
}
table td{
    height: 18px;
    padding-bottom: 3%;
}
table th{
    font-size: 30px;
    padding-bottom:5%;
}
a{
	text-decoration: none;
	color :black;
}
#loginWrap{
	display: inline-block;
	border: 1px solid;
	width: 1000px;
    height: 400px;
    text-align: center;
   	margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
#loginbtn{
    width: 310px;
    height: 35px;
    background-color: #5a6275;
    border: none;
    color: white;
}
#joinbtn{
    width: 310px;
    height: 35px;
    border: 2px solid #5a6275;
    background-color: white;
}
#finduser{
    font-size: 12px;
    text-align: right;
}
.text{
    width: 300px;
    height: 30px;
}