@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);

* {
	margin:0; 
	padding :0;
	font-family:"Dotum",Arial,serif;
}
body{ 
	width : 1920px;
	height : 1000px;
	overflow : hidden;
}
a{
	text-decoration: none;
}
.wrap{
	width :100%;
	height : 100vh;
}
.logo{position: absolute;
       left: 50px;
       top: 60px;}
.menubar
    {
		position:fixed;z-index:14;
        width:100%;
        margin: 0 auto;
        border:none;
        background: #5a6275;
        overflow: hidden;
    }
    .menuItem
    {
        float:right;
    }
    .menubar ul
    {
        background: #5a6275;
        height:50px;
        list-style:none;
    }
    .menubar li
    {
        float:left;
    }
    .menubar a
    {
        color:#FFFFFF;
        display:block;
        font-weight:normal;
        line-height:49px;
        padding:1px 25px;
        text-align:center;
    }
    .menubar li a:hover,.menubar ul li:hover a {
        background: #636363;
		color:#FFFFFF;
    }
    .menubar li:hover ul
    {
        display:block;
    }
    .menubar li:hover li a
    {
        background:none;
    }
    .menubar li ul
    {
        background: #5a6275;
        display:none;
        height:auto;
        position:absolute;
        z-index:999;
    }
    .menubar li li a ,
    .menubar li li
    {
        background: #5a6275;
        display:block;
        float:none;
        min-width:135px;
    }
    .menubar li ul a
    {
        display:block;
        height:50px;
        font-size:12px;
        font-style:normal;
        padding:0px 10px 0px 15px;
        text-align:left;
    }
    .menubar li ul a:hover, .menubar li ul li:hover a{
        background: #636363;
        border:0px;
        color:#ffffff;
    }
ul,li{list-style:none;}
#slide{height:800px;position:relative;background-size:1920px;overflow:hidden;width:1920px;background-position:right center;display:block;}
#slide ul{width:400%;height:100%;transition:1s;}
#slide ul:after{content:"";display:block;clear:both;}
#slide li{float:left;width:25%;height:100%;}
#slide li:nth-child(1){background-image:url("../img/background_img1.jpg");background-size:1920px;}
#slide li:nth-child(2){background-image:url("../img/background_img2.jpg");}
#slide li:nth-child(3){background-image:url("../img/background_img3.jpg");}
#slide li:nth-child(4){background-image:url("../img/background_img4.jpg");}
#slide input{display:none;}
#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}
footer{margin :0px; padding-top :20px;}
footer img{width :100%;}
.line{position:fixed;z-index:14;
        width:100%;
        margin: 0 auto;
        border:none;
        background: #5a6275;
        overflow: hidden;
      	height :15px;}


